<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>School Class</title>
    <th:block th:include="fragments/imports :: head"></th:block>

</head>
<body>
<th:block th:include="fragments/nav :: navbar"></th:block>
<div class="container-fluid">
    <div class="row justify-content-center mt-1">
        <div class="col-sm-12 col-md-10 col-lg-8 mt-3 ml-2">
            <form class="mt-2" th:action="@{/student/add}" th:method="get">
                <button class="btn btn-primary" type="submit">add student</button>
            </form>
            <p th:text="${info}"></p>
            <h4>student search:</h4>
            <div class="card mt-2" th:each="student : ${students}">
                <div class="card-header"><h5 th:text="${student.getName()} + ' '+ ${student.lastName}">User name and last name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text" th:text="'email: ' + ${student.email}">User email</p>
                    <p class="card-text"
                       th:text=" 'added date: ' + ${#temporals.format(student.addedDate, 'yyyy-MM-dd HH:mm')}">User added
                        date</p>
                    <p class="card-text"
                       th:text=" 'added date: ' + ${#temporals.format(student.birthDate, 'yyyy-MM-dd')}">User added
                        date</p>
                    <form th:method="post" th:action="@{/}">
                        <input type="hidden" name="user_id" th:value="${student.getId()}">
                        <button type="submit" class="btn btn-primary btn-sm">
                            empty
                        </button>
                    </form>
                </div>
            </div>
<!--            <div class="card mt-2" th:each="sc : ${sc}">-->
<!--                <div class="card-header"><h5 th:text="${sc.} + ' '+ ${user.lastName}">User name and last name</h5>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <p class="card-text" th:text="'email: ' + ${user.email}">User email</p>-->
<!--                    <p class="card-text"-->
<!--                       th:text=" 'added date: ' + ${#temporals.format(user.addedDate, 'yyyy-MM-dd HH:mm')}">User added-->
<!--                        date</p>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-sm-12 col-md-10 col-lg-8 mt-3 ml-2">
            <form class="mt-3" th:action="@{/admin/panel}" th:method="get">
                <button type="submit" class="btn btn-primary">back to admin panel</button>
            </form>
            <form class="mt-3" th:action="@{/}" th:method="get">
                <button type="submit" class="btn btn-primary">back to main menu</button>
            </form>
        </div>
    </div>
</div>
<th:block th:include="fragments/imports :: js_import"></th:block>

</body>
</html>