* {
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #D9D9D9;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h2, h4{
    color: #CD5360;
}
/*label{*/
/*    color: #B37D4E;*/
/*}*/
.error_page{
    background-image: url('images/background.jpg');
}
.custom_panel{
    margin-top: 60px;
    text-align: center;
}
.custom_header{
    text-align: center;
}
.btn-group-vertical{
    margin: 40px auto 20px auto;
}
a.error_page_link {
    margin-top: 40vh;
    text-decoration: none;
    font-size: 27px;
    font-weight: 600;
    color: #CD5360;
    text-shadow: 1px 1px 3px #071B28;
}
.custom_register_error {
    color: red;
}
.error{
    color: red;
}
#user-name-label a{
    text-decoration: none;
    color: white;
}
.custom_post_card{
    background-color: red;
    color: black;
}

