* {
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right top, #76787c, #888e90, #9da3a3, #b4b9b6, #cdcfca);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.error_page{
    background-image: url('images/background.jpg');
}
a.error_page_link {
    margin-top: 40vh;
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
    color: black;
    text-shadow: 1px 1px 3px #071B28;
}
.custom_register_error {
    color: red;
}
.error{
    color: red;
}
#user-name-label a{
    text-decoration: none;
    color: white;
}
.custom_post_card{
    background-color: red;
    color: black;
}

