<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <th:block th:include="fragments/imports :: head"></th:block>

</head>
<body>
<th:block th:include="fragments/nav :: navbar"></th:block>
<div class="container-fluid">
    <div class="row justify-content-center mt-1">
        <div class="col-sm-12 col-md-10 col-lg-8 mt-3">
            <form class="mt-3 mb-3" th:action="@{/post/register}" th:method="get">
                <button type="submit" class="btn btn-primary">Add new post</button>
            </form>
            <h4>all posts:</h4>
            <div class="card mt-2" th:each="post : ${postList}">
                <div class="card-header"><h5 th:text="${post.postTitle}">Post title</h5></div>
                <div class="card-body">
                    <p class="card-text" th:text="${post.postBody}">Post body</p>
                    <footer class="blockquote-footer"
                            th:text=" 'added date: ' +${#temporals.format(post.addedDate, 'yyyy-MM-dd HH:mm')}">
                        2019-03-02 11:07:10
                    </footer>
                    <form class="mt-3 mr-2" th:action="@{/post/delete/}" th:method="post" id="modal1">
                        <input type="hidden" name="post_id" th:value="${post.id}">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#custom_modal">
                            delete
                        </button>
                    </form>
                </div>
            </div>
            <form class="mt-3" th:action="@{/admin/panel}" th:method="get">
                <button type="submit" class="btn btn-primary">back to admin panel</button>
            </form>
            <form class="mt-3" th:action="@{/}" th:method="get">
                <button type="submit" class="btn btn-primary">back to main menu</button>
            </form>
        </div>
    </div>
</div>

<th:block th:include="fragments/modal :: modal_window"></th:block>
<th:block th:include="fragments/imports :: js_import"></th:block>

</body>
</html>