<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teachers Room</title>
    <th:block th:include="fragments/imports :: head"></th:block>

</head>
<body>
<th:block th:include="fragments/nav :: navbar"></th:block>
<div class="container-fluid">
    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="col-sm-8 col-md-6 col-lg-4 mt-3 custom_panel">
                <h2>Teachers Room</h2>
                <form class="mt-3" th:action="@{/teacher/grades}" th:method="get">
                    <button type="submit" class="btn btn-primary">Assign grades</button>
                </form>
                <form class="mt-3" th:action="@{/}" th:method="get">
                    <button type="submit" class="btn btn-primary">back to main menu</button>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:include="fragments/imports :: js_import"></th:block>

</body>
</html>