<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Nav</title>
</head>
<body>

<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active pl-3">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item disabled pl-3">
                    <a class="nav-link" href="#">Calendar</a>
                </li>
                <li class="nav-item disabled pl-3">
                    <a class="nav-link" href="#">class register</a>
                </li>
                <li class="nav-item active pl-3" th:if="${@userContextService.logged}">
                    <a class="nav-link" th:href="@{/user/profile}">User profile</a>
                </li>
                <li class="nav-item active pl-3" th:unless="${@userContextService.logged}">
                    <a class="nav-link" th:href="@{/user/login}">Log in</a>
                </li>
                <li class="nav-item active pl-3" th:if="${@userContextService.logged}">
                    <a class="nav-link" th:href="@{/user/logout}">Log out</a>
                </li>
            </ul>
        </div>
        <div class="nav-item active mr-md-3 mr-sm-2" id="user-name-label"><a th:href="@{/user/profile}"
                                                                             th:if="${@userContextService.loggedAs}"
                                                                             th:text="${@userContextService.loggedAs}"></a>
        </div>
    </nav>
</th:block>
</body>
</html>
