<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>School App</title>
    <th:block th:include="fragments/imports :: head"></th:block>

</head>
<body>
<th:block th:include="fragments/nav :: navbar"></th:block>
<div class="container-fluid">
    <div class="container-fluid">
        <div class="row justify-content-center mt-3">
            <div class="col-sm-10 col-md-8 col-lg-6 mt-3 custom_header">
                <h2>Welcome to school Project</h2>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-sm-12 col-md-10 col-lg-8 mt-3">
                <h6>school news:</h6>
                <div class="card mt-2" th:each="post : ${posts}">
                    <div class="card-header"><h5 th:text="${post.postTitle}">Post title</h5></div>
                    <div class="card-body">
                        <p class="card-text" th:text="${post.postBody}">Post body</p>
                        <footer class="blockquote-footer"
                                th:text=" 'added date: ' + ${#temporals.format(post.addedDate, 'yyyy-MM-dd HH:mm')}">
                            2019-03-02 11:07:10
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="fragments/imports :: js_import"></th:block>

</body>
</html>